<section class="vh-100" style="background-color: #9ad0f4;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; --bs-card-border-color: #359ade">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://thumbs.dreamstime.com/b/landscape-white-gray-rain-clouds-bottom-photo-clear-blue-sky-above-bright-sunny-day-vertical-view-180244203.jpg"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="h1 bi bi-cloud-sun-fill" style="color: rgb(43, 107, 226);"></i>
                                    <span class="h1 fw-bold mb-0">elTiempo</span>
                                </div>

                                <h5 class="fw-normal mb-3" style="letter-spacing: 1px;">Entra con tu cuenta de
                                    elTiempo
                                </h5>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                    <div class="form-outline mb-2">
                                        <input type="text" class="form-control" name="username"
                                            placeholder="Nombre de usuario" [(ngModel)]="userData.username" required
                                            #username="ngModel" />
                                        <div *ngIf="username.errors && f.submitted"
                                            style="color: #ad2432; font-weight: 500;" role="alert">
                                            El usuario es obligatorio
                                        </div>
                                    </div>
                                    <div class="form-outline mb-2">
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Contraseña" [(ngModel)]="userData.password" required
                                            #password="ngModel" />
                                        <div style="color: #ad2432; font-weight: 500;" role="alert"
                                            *ngIf="password.errors && f.submitted">
                                            <div *ngIf="password.errors['required']">La contraseña es obligatoria</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-dark btn-lg btn-block">Login</button>
                                    </div>
                                    <div class="form-group">
                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="f.submitted && isLoginFailed">
                                            El usuario o contraseña son erróneos
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>